html {
    font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
}

.button {
    @apply flex gap-2 justify-center items-center text-center rounded-md;
}

.button.primary {
    @apply bg-blue-600 hover:bg-blue-400 text-white disabled:bg-gray-500 transition-colors duration-300 disabled:opacity-50;
}

.button.secondary {
    @apply bg-sky-300 hover:bg-sky-500 text-white disabled:bg-gray-500 transition-colors duration-300 disabled:opacity-50;
}

.button.disabled {
    @apply text-white bg-gray-500 opacity-50;
}

.button.sidebar {
    @apply hover:bg-white/30;
}

.row {
    @apply grid grid-cols-[1fr_auto] border-y-1 border-black;
}

.cell {
    @apply p-[0.375rem] border-x-1 border-black flex items-center;
}

input[type="number" i] {
    padding-block: 1px;
    padding-inline: 2px;
}
